.square {
  list-style-type: square;
  font-size: 25px;
}
.none {
  list-style-type: none;
}
.symbol::before {
  content: "%";
}

.img {
  list-style-image: url(/TMS/hw_2/images/bolt.svg);
}

.hor {
  display: inline-block;
  padding: 10px;
}

.color td {
  background-color: #ececec;
  padding: 0.5rem;
}

.border td {
  background-color: #4c715b;
  padding: 15px;
}
.border{
    border-spacing: 4px;
}



.container{
  width: 750px;
  height: 200px;
  background-color: aquamarine;
  padding-top: 25px;
}
.border-text{
height: 150px;
  width: 650px;
  border: 2px solid white;
  margin: 0 auto;
  
}

.text{
  padding: 20px;
 width: 550px;
  margin: 0 auto ;
}