.square {
  list-style-type: square;
  font-size: 25px;
}
.none {
  list-style-type: none;
}
.symbol::before {
  content: "%";
}

.img {
  list-style-image: url(/TMS/hw_2/images/bolt.svg);
}

.hor {
  display: inline-block;
  padding: 10px;
}

.color td {
  background-color: #ececec;
  padding: 0.5rem;
}

.border td {
  background-color: #4c715b;
  padding: 15px;
}
.border{
    border-spacing: 4px;
}